<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.mkgw4">

    <application
        android:name="com.moko.mkgw4.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.moko.mkgw4.activity.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mkgw4.activity.MKGW4MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.MkGw4DeviceInfoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.ScannerFilterSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.MkGw4GpsFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.ScanReportModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.PeriodicScanPeriodicReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.RealScanPeriodicReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4SyncTimeFromNtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.BatteryManagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4SystemTimeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4AxisParameterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4SystemInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4LogDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterMacAddressActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterAdvNameActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterRawDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterIBeaconActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterUIDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterUrlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterTLMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterBXPTagActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterBXPButtonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterOtherActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.MkGw4FixModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterMkPirActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.PeriodicScanImmediateReportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.LedSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.BleParametersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.HeartReportSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4MqttSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4NetworkSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.MkGw4PeriodicFixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.MkGw4MotionFixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.MkGw4FilterMkTofActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.PayloadSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.IBeaconPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneUidPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneUrlPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneTlmPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpDeviceInfoPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpAccPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpThPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpButtonPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpTagPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.PirPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.MkTofPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.OtherPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.MkGw4NotificationActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.moko.mkgw4.activity.SyncDeviceActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mkgw4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.moko.mkgw4.service.MkGw4DfuService" />
    </application>
</manifest>
