<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.moko.mkgw4.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.moko.mkgw4.activity.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mkgw4.activity.MKGW4MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.DeviceInfoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.ScannerFilterSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.GpsFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.ScanReportModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.PeriodicScanPeriodicReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.RealScanPeriodicReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.SyncTimeFromNtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.BatteryManagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.MkGw4SystemTimeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.AxisParameterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.SystemInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.LogDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterMacAddressActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterAdvNameActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterRawDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterIBeaconActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterUIDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterUrlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterTLMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterBXPTagActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterBXPButtonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterOtherActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.FixModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterMkPirActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.PeriodicScanImmediateReportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.LedSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.setting.BleParametersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.HeartReportSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.MqttSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.setting.NetworkSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.PeriodicFixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.MotionFixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterMkTofActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.PayloadSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.IBeaconPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneUidPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneUrlPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.EddystoneTlmPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpDeviceInfoPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpAccPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpThPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpButtonPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.BxpTagPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.PirPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.MkTofPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.OtherPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.MkGw4NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.filter.BxpSensorFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payload.BxpSensorPayloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.UpPayloadSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkgw4.activity.filter.FilterNanoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw4.activity.payload.NanoPayloadActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mkgw4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.moko.mkgw4.service.MkGw4DfuService"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
